:root {
    --color-ui-hover-bg: rgba(55, 53, 47, 0.03);
}

html {
    scroll-behavior: smooth;    
}

.super-content.max-width {
    max-width: 1200px;
    margin: auto;
}

.notion-header__content.max-width {
    max-width: 1200px;
}

.notion-header__title { 
    color: hsla(208, 80%, 80%, 1);
}

.super-navbar.balanced {
    --color-bg-default: hsla(208, 0%, 100%, 0.8);
    backdrop-filter: blur(24px);
    --color-text-default: hsla(208, 0%, 0%, 0.6);
    box-shadow: rgba(0,0,0,0.05) 0px 0px 16px 1px;
}

.notion-table-of-contents {
    background-color: white;
    box-shadow: rgba(0,0,0,0.05) 0px 0px 16px 1px;
    border-radius: 12px;
    padding: 8px;
}

.notion-table-of-contents__item .notion-semantic-string {
    border-bottom: 0px solid var(--color-border-dark);
}

.notion-table-of-contents__item {
    padding:4px;
}

.notion-collection__header {
    display: none;
}

.notion-collection-gallery {
    border-top: none !important;
}

.notion-heading {
    color: rgba(0,0,0,0.6);
}

.notion-collection-card {
    background-color:white;
    box-shadow: 
    rgba(0,0,0,0.05) 
    0px 0px 16px 1px;
    border-radius: 12px;
}

.notion-collection-card:after {
    box-shadow: 
    rgba(0,0,0,0.1) 
    0px 0px 18px 1px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.notion-collection-card :after :hover {
    opacity: 1;
}

.notion-collection-card__property {
    overflow-wrap: normal;
}

body {
    background-color: rgba(0,0,0,0.02) ;
}

.notion-link.link {
    color: hsla(208, 95%, 50%, 1);
    border-bottom: none;
    
    /* trying to add the underline animation */
    /* {
        border: 2px solid transparent;
        
        &::after {
          width: 0%;
          height: 2px;
          display: block;
          background-color: hsla(208, 95%, 50%, 1);
          content: " ";
          position: absolute;
          top: 34px;
          left: 50%;
          transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        
        &:hover {
          &::after {
            width: 100%;
            height: 2px;
            display: block;
            background-color: hsla(208, 95%, 50%, 1);
            content: " ";
            position: absolute;
            top: 34px;
            left: 0;
          }
        } 
    } */
}

/* Gallery Card -> Body Content */

.notion-collection-card__content {
    padding-top: 2px;
    padding: 10px;
}

.notion-collection-card__property {
    margin-bottom: 2px;
}





/*  navbars  */ 

.notion-navbar {
    background: (0, 0%, 100%, 0.6);
    box-shadow: rgba(0,0,0,0.05) 0px 0px 16px 1px;
    backdrop-filter: blur(20px) saturate(200%);
}


.super-navbar.minimal {
    background-color: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(24px);
    box-shadow: 0px -1px 16px 1px rgba(0, 0, 0, 0.05);
}


/* text overflow for page titles and descriptions */ 

.gallery .notion-collection-card__property .notion-semantic-string {
    white-space: normal;
    overflow-wrap: normal;
}


.notion-collection-card.gallery .notion-property__title .notion-semantic-string {
    white-space: normal;
    overflow-wrap: normal;
}


/* remove page icon */ 

.notion-property__title .notion-property__title__icon-wrapper {
    display:none;
}


/* image stuff */ 

img {
    border-radius: 8px;
}

.notion-image {
    box-shadow: 
    rgba(0,0,0,0.05) 
    0px 0px 16px 1px;
    border-radius: 12px;
    padding: 12px;
    background-color: white;
}


/* need to figure out how to select the div container of the img so I can turn off overflow with "overflow: visible;" */ 

notion-image page-width > div {
    overflow:visible;
}

/* properties pane */

#block-root-divider.notion-divider {
    display: none;
}

/* properties pane */

.notion-page__properties {
  margin-bottom: 24px;
}

.notion-page__property {
  background-color: hsla(208, 0%, 100%, 0.1);
  margin-top: 12px;
  margin-bottom: 6px;
  border-radius: 12px;
  padding: 0px;
  padding-left: 12px;
}

.notion-page__property-name {
    align-items: center;
    padding: 0px;
}

/* hide cover photo and add margin above heading */ 

.notion-header__cover.no-cover {
  display:none;
}

.notion-header__title {
  margin-top: 48px;
}

.notion-bookmark {
  background-color: white;
  box-shadow: 
    rgba(0,0,0,0.05) 
    0px 0px 16px 1px;
    border-radius: 12px;
}


/* dark mode stuff */ 



@media (prefers-color-scheme: dark) {

:root{
        --color-text-default-light: hsla(208, 0%, 100%, 0.2);
    }

    .notion-navbar__title {
    color: hsla(208, 0%, 100%, 0.6);
    }

    body {
    background-color: rgba(0,0,0,1) ;
    }

    .notion-header__title { 
        color: hsla(208, 60%, 40%, 1);
    }

    .notion-table-of-contents {
    background-color: hsla(208, 0%, 100%, 0.1);

    }

    .notion-semantic-string {
        color: hsla(208, 0%, 100%, 0.6);
    }

    /* underline for the list view */ 

    .notion-collection-list__item .notion-property__title .notion-semantic-string > span {
        border-bottom: none;
    }

    .notion-collection-list__item:hover {
        background-color: hsla(208, 0%, 100%, 0.1);
    }
    
/* default navbar 

    .notion-navbar {
        background: hsla(0, 0%, 100%, 0.1);
        -webkit-backdrop-filter: blur(15px);
        box-shadow: rgba(0,0,0,0.1) 0px 0px 16px 1px;
    }

*/

    .super-navbar.balanced {
        --color-bg-default: hsla(208, 0%, 20%, 0.5);
        backdrop-filter: blur(24px);
        --color-text-default: hsla(208, 0%, 100%, 0.6);
    }

    .notion-collection-card {
        background-color: hsla(208, 0%, 100%, 0.1);
    }


    .super-navbar__menu {
        --color-bg-default: #1c1c1c;
    }


    .notion-breadcrumb__divider {
        color: white; 
    }

    .notion-image {
        background-color: hsla(208, 0%, 100%, 0.1);
    }

    .notion-pill {
        color: hsla(208, 0%, 100%, 0.6);
    }
    /* hover over card */

    .notion-collection-card.board :hover {
        background: rgb(255 255 255 / 16%);
    }

/* 
    trying to create a style for the "compoany" chips
    
    currently it's selecting all pages. plus I don't like the additional visual clutter. 

        .notion-page>div {
            background: hsl(0deg 0% 100% / 11%);
            padding: 3px;
            padding-right: 6px;
        } */

/* end of dark mode section */

}